<html>
<head></head>

  <body>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <p hidden><%= secret_number %></p>
    <p><%= message %></p>

    <form>
      <input type="text" name="guess">
      <input type="submit" value="guess">
    </form>

  </body>
</html>
